<form method="POST">
  <div class="form-group">
    <label for="exampleInputEmail1">Email address</label>
    <input type="email" class="form-control" id="exampleInputEmail1"  placeholder="Enter email"
    name="emailAddress">
  </div>

 <div class="form-group">
    <label for="username">name </label>
    <input type="text" class="form-control" id="username" placeholder="Enter name" name="userName">
    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
  </div>
 
  <div class="form-group">
    <label for="phoneNum">phone number</label>
    <input type="tel" class="form-control" id="phoneNum" name = "phoneNumber"  placeholder="Enter phone number">
    
  </div>
 

  <div class="form-group">
    <label for="exampleInputPassword1">Password</label>
    <input type="password" class="form-control" name ="password" id="exampleInputPassword1" placeholder="Password" maxlength="9">
  </div>

  <button type="submit" class="btn btn-primary">Submit</button>
</form>