<div class="gridContainer px-3 mt-5">

    <div class="column1  mt-5 mb-4 custom-bg shadow-sm ">
        <app-nav-container></app-nav-container>
    </div>
    <div class="column2 p-4 custom-bg mt-5 mb-4 shadow-sm">
        
        <h6 class="display-6 text-center text-primary my-4 ">{{slug}}</h6>
        <hr class="mb-4 bg-secondary" />

        <p>Angular 8 is a TypeScript based full-stack web framework for building web and mobile applications. One of the
            major advantage is that the Angular 8 support for web application that can fit in any screen resolution.
            Angular application is fully compatible for mobiles, tablets, laptops or desktops. Angular 8 has an
            excellent user interface library for web developers which contains reusable UI components.</p>

        <p>This functionality helps us to create Single Page Applications (SPA). SPA is reactive and fast application.
            For example, if you have a button in single page and click on the button then the action performs
            dynamically in the current page without loading the new page from the server. Angular 8 is Typescript based
            object oriented programming and support features for server side programming as well.</p>

        <p>The journey commenced with a single tutorial on HTML in 2006 and elated by the response it generated, we
            worked
            our way to adding fresh tutorials to our repository which now proudly flaunts a wealth of tutorials and
            allied
            articles on topics ranging from programming languages to web designing to academics and much more.</p>

        <p>40 million readers read 100 million pages every month</p>
        <p>Our content and resources are freely available and we prefer to keep it that way to encourage our readers
            acquire
            as many skills as they would like to. We don’t force our readers to sign up with us or submit their
            details
            either. No preconditions and no impediments. Simply Easy Learning!</p>

        <h6 class="display-6 text-center  my-4 font-weight-light">Mission</h6>
        <p></p>


        <hr class="mb-4 bg-secondary" />
        <p class="text-center mb-0">* * *</p>
    </div>
    <div class="column3 mt-5 mb-4 custom-bg shadow-sm">
        suprisingly this is also mine
    </div>
</div>