<div class="container-fluid m-0 mt-5  p-0 bg-dark">
    <header class="masthead  border-bottom custom-theme-border" style="background-image: url('assets/img/post-bg.jpg')">
        <div class="container position-relative px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <div class="post-heading">
                        <h1>Man must explore, and this is exploration at its greatest</h1>
                        <h2 class="subheading">Problems look mighty small from 150 miles up</h2>
                        <span class="meta">
                            Posted by
                            <a href="#!">Start Bootstrap</a>
                            on August 24, 2021
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </header>



    <div class="container ">
        <div class="cardContainer m-5 mx-auto">

            <div class="card custom-bg  border custom-theme-border shadow-sm m-4" style="width: 20rem; min-height: 45vh;">
                <img src="..." style="min-height:25vh;" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                    <a href="#" class="btn btn-lg  rounded btn-outline-primary">Go somewhere</a>
                </div>
            </div>
            <div class="card custom-bg  border custom-theme-border shadow-sm m-4" style="width: 20rem; min-height: 45vh;">
                <img src="..." style="min-height:25vh;" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                    <a href="#" class="btn btn-lg  rounded btn-outline-primary">Go somewhere</a>
                </div>
            </div>
            <div class="card custom-bg  border custom-theme-border shadow-sm m-4" style="width: 20rem; min-height: 45vh;">
                <img src="..." style="min-height:25vh;" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                    <a href="#" class="btn btn-lg  rounded btn-outline-primary">Go somewhere</a>
                </div>
            </div>
            <div class="card custom-bg  border custom-theme-border shadow-sm m-4" style="width: 20rem; min-height: 45vh;">
                <img src="..." style="min-height:25vh;" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                    <a href="#" class="btn btn-lg  rounded btn-outline-primary">Go somewhere</a>
                </div>
            </div>
            <div class="card custom-bg  border custom-theme-border shadow-sm m-4" style="width: 20rem; min-height: 45vh;">
                <img src="..." style="min-height:25vh;" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                    <a href="#" class="btn btn-lg  rounded btn-outline-primary">Go somewhere</a>
                </div>
            </div>
            <div class="card custom-bg  border custom-theme-border shadow-sm m-4" style="width: 20rem; min-height: 45vh;">
                <img src="..." style="min-height:25vh;" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                    <a href="#" class="btn btn-lg  rounded btn-outline-primary">Go somewhere</a>
                </div>
            </div>
            <div class="card custom-bg  border custom-theme-border shadow-sm m-4" style="width: 20rem; min-height: 45vh;">
                <img src="..." style="min-height:25vh;" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                    <a href="#" class="btn btn-lg  rounded btn-outline-primary">Go somewhere</a>
                </div>
            </div>
            <div class="card custom-bg  border custom-theme-border shadow-sm m-4" style="width: 20rem; min-height: 45vh;">
                <img src="..." style="min-height:25vh;" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                    <a href="#" class="btn btn-lg  rounded btn-outline-primary">Go somewhere</a>
                </div>
            </div>
       
       




        </div>
    </div>
</div>